section(id="adminContent")
  script(src="js/adminContent.js")
  div(class="row-fluid")
    div(class="offset1 span8 pull-right limitTo20em")
      article(id="createNewWache")
        h3  Wachtage anlegen
        form(action="/createwachtage" method="post")
        div(class="input-group")
          span(class="input-group-addon") Starttag
          input(type="text" id="startdatepicker" name="startdate", class="form-control")
        div(class="input-group")
          span(class="input-group-addon") Endtag
          input(type="text" id="enddatepicker" name="enddate", class="form-control")
        div(class="input-group")
          input(type="submit" value="Anlegen", class="btn btn-success")
        include logout.pug
