section(id="adminContent")
  script(src="js/adminContent.js")
  article(id="createNewWache")
    form(action="/createwachtage" method="post")
      lable Starttag
      br
      input(type="text" id="startdatepicker" name="startdate")
      br
      lable Endtag
      br
      input(type="text" id="enddatepicker" name="enddate")
      br
      input(type="submit" value="Anlegen")
