section(id="userContent")
  script(src="js/userContent.js")
  div(class="row-fluid")
    div(class="offset1 span8 pull-right limitTo20em" id="applicationForm")
      article(id="applyForWache")
        h3 Anmelden
        form(action="/applyforwache" method="post")
          div(class="input-group")
            span(class="input-group-addon") Starttag
            input(type="text" class="datePicker" name="startdate", class="form-control", placeholder="Startdatum")
          div(class="input-group")
            span(class="input-group-addon") Endtag
            input(type="text" class="datePicker" name="enddate", class="form-control", placeholder="Enddatum")
          -if(user.isWl){
            div(class="input-group")
              input(required type='radio' value="Wl" name="wants")
              lable Wachleiter?
          -}
          -if(user.isBf){
            div(class="input-group")
              input(required type='radio' value="Bf" name="wants")
              lable Bootsführer?
          -}
          -if(user.state=="isWg"){
            div(class="input-group")
              input(required type='radio' name="wants" value="Wg")
              lable Wachgänger?
          -}
          div(class="input-group")
            input(required type='radio' name="wants" value="Wh")
            lable Wachhelfer?
            -console.log(user.isWl);
          div(class="input-group")
            input(type="submit" value="Anmelden", class="btn btn-success")
        include downloadWachplan.pug
        include logout.pug
        include changepw.pug


    div(class="pull-left limitTo20em" id="freeDasyForm")
      article(id="freeDays")
        h3 Zum Tausch freigeben
        form(action="/freeDays" method="post" id="freeForm")
          div(class="input-group")
            span(class="input-group-addon") Starttag
            input(type="text" class="datePicker" name="startdate", class="form-control")
          div(class="input-group")
            span(class="input-group-addon") Endttag
            input(type="text" class="datePicker" name="enddate", class="form-control")
          div(class="input-group")
            input(type="submit" value="Zeitraum freigeben", class="btn btn-success")
      article(id="listFreeDays")
        div(class="panel panel-danger")
          div(class="panel-heading")
            p Freigegebene Tage
          div(class="panel-body")
            table(class="table")
              tr
                th #
                th Datum
                th Position
              -
              -var month = new Array();
              -month[0] = "Jan";
              -month[1] = "Feb";
              -month[2] = "Mär";
              -month[3] = "Apr";
              -month[4] = "Mai";
              -month[5] = "Jun";
              -month[6] = "Jul";
              -month[7] = "Aug";
              -month[8] = "Sep";
              -month[9] = "Okt";
              -month[10] = "Nov";
              -month[11] = "Dez";
              -var i=1;
              tbody
                each item in freeDays
                  tr
                    th=i++
                    td=item.date.getDate()-1+". "+month[item.date.getMonth()]+". "+item.date.getFullYear()
                    td=item.position
