section(id="userContent")
  script(src="js/userContent.js")
  article(id="applyForWache")
    form(action="/applyforwache" method="post")
      lable Starttag
      br
      input(type="text" id="startdatepicker" name="startdate")
      br
      lable Endtag
      br
      input(type="text" id="enddatepicker" name="enddate")
      br
      input(type="submit" value="Anmelden")
    
