html
  head
    title Wachanmeldung
    script(src='js/client.js')
    script(src="js/wachplan.js")
    script(src="js/jquery-3.1.1.min.js")
    link(href='http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet')
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    style(src='css/style.css')
    
  block debug
  body
    section
      article(id="logout")
        -
        if isNotLoggedin
        else
          a(href="/logout") Logout
    block body

  footer
    p by @spralexx
