html
  head
      title Wachanmeldung
      script(src='js/client.js')
      script(src="js/jquery-3.1.1.min.js")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
      link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' rel='stylesheet')
      script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
      link(href="css/monthly.css" rel="stylesheet")
      link(href="css/style.css" rel="stylesheet")
  block debug
  body
    include includes/logout.pug
    block body

    footer(class="footer")
      div(class="container")
        span(class="text-muted") by René Krick
