extends index.pug

block body
  div(class="container")
    form(action="/login",method="post")
      div(class="input-group")
        input(type='text', class="form-control", placeholder="Benutzername", name="username")
      div(class="input-group")
        input(type='password', class="form-control", placeholder="Passwort", name="password")
      div(class="input-group")
        input(type="submit", value="Anmelden" class="btn btn-success")
  div(class="container")
    a(href="/register", role="button", class="btn btn-info") Hier registrieren
