extends index.pug

block body
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js")
  script(src="js/register.js")
  form(id ="registerForm" action="/register" method="post")
    div
      lable Username
      input(required type='text' id="username" name="username" placeholder="Vorname Nachname")
    div
      labe Passwort
      input(required type='password' id="password" name="password")
    div
      lable Wachleiter?
      input(type='checkbox' id="isWl" name="isWl")
    div
      lable Bootsführer?
      input(type='checkbox' id="isBf" name="isBf")
    div
      lable Wachgänger?
      input(required type='radio' id="radioIsWg" name="state" value="isWg")
    div
      lable Wachhelfer?
      input(required type='radio' id="radioIsWh" name="state" value="isWh")
    div
      input(type="submit" value="Registrieren")
