html {
  position: relative;
  min-height: 100%;
}
.body {
  /* Margin bottom by footer height */
  margin:2em;
  margin-top: 0;
  margin-bottom: 3em;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3em;
  line-height: 3em; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.jumbotron{
  height: 3em;
  padding: 0;
  line-height: 3em;
  text-align:center;
}
#logoutbutton{
  margin-bottom: 3em;
}
.limitTo20em{
  width:20em;
}
.input-group-addon{
  min-width: 6em;
}
#listFreeDays{
  margin-top: 1em;
}
