extends index.pug

block body
  div(class="container")
    h1 Passwort ändern
    form(action="/changepw",method="post")
      - if (!isadmin){
        div(class="input-group")
          input(type='password', class="form-control", placeholder="Altes Passwort", name="oldpw")
      -}
      - if (isadmin){
        div(class="input-group")
          input(type='text', class="form-control", placeholder="Benutzername", name="username")        
      -}
      div(class="input-group")
        input(type='password', class="form-control", placeholder="Neues Passwort", name="newpw0")
      div(class="input-group")
        input(type='password', class="form-control", placeholder="Neues Passwort", name="newpw1")
      div(class="input-group")
        input(type="submit", value="Passwort ändern" class="btn btn-success")
  div(class="container")
    a(href="/", role="button", class="btn btn-info") zurück zur Startseite
